:root{
    --primary-bg-color: #eeeeee;
    --primary-fg-color: #222222;
    --secondary-bg-color: #222222;
    --secondary-fg-color: #eeeeee;
}

.important {
    font-weight: bold;
}

.disabled {
    pointer-events: none;
    color: grey;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: var(--primary-fg-color);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    font-style: italic;
}

/* #region Top Nav Bar */
nav.topnav {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav.topnav > ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondary-bg-color);
}

nav.topnav li a.first {
    padding: 16px 16px;
}

nav.topnav li a {
    display: block;
    text-align: center;
    padding: 16px 8px;
    color: var(--secondary-fg-color);
    text-decoration: none;
}

nav.topnav li a:hover {
    background-color: var(--primary-bg-color);
    color: var(--primary-fg-color);
}

nav.topnav li a.active {
    background-color: white;
    color: black;
}
/* #endregion Top Nav Bar */

/* #region Toolbox */
.icon-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    overflow-x:scroll;
}

div.icon > svg {
    --num-icons-on-screen: 5;
    margin: max(0px, calc((100vw - (var(--num-icons-on-screen) * 120px)) / (2 * var(--num-icons-on-screen))));
    padding: 0;
    width: 120px;
    height: auto;
}

@media (max-width: 1400px){
    div.icon > svg {
        --num-icons-on-screen: 4;
    }
}

@media (max-width: 1120px){
    div.icon > svg {
        --num-icons-on-screen: 3;
    }
}
/* #endregion Toolbox */

div.tool-icon {
    display: inline;
}

div.tool-icon > svg {
    width: 32px;
    height: auto;
}

footer :not(section, h2, h3, a, hr, section#contact p){
    background-image: url("../assets/smiley10.png");
    background-color: salmon;
    margin: 0;
    padding: 16px;
}

footer hr {
    margin-bottom: 0;
}